@use "@styles/variables" as *;

.home {
	margin-top: 8rem;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	@media screen and (max-width: $tablet) {
		margin-top: unset;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		text-align: center;
	}

	&__article {
		min-width: 0;
	}

	&__pre-title {
		display: grid;
		grid-template-columns: max-content;
		margin-right: -10rem;
		color: $c-light-blue;
		font-family: $ff-barlow-condensed;
		text-transform: uppercase;
		font-size: 1.7rem;
		letter-spacing: 0.4ch;

		@media screen and (max-width: $tablet) {
			display: unset;
			margin-right: unset;
			font-size: 1.2rem;
		}

		@media screen and (max-width: $mobile) {
			font-size: 1rem;
		}
	}

	&__title {
		color: $c-white;
		font-family: $ff-bellefair;
		text-transform: uppercase;
		font-size: 9rem;
		font-weight: 400;
		margin: 1.5rem 0;
		margin-right: -5rem;

		@media screen and (max-width: $tablet) {
			margin: 1rem 0;
		}

		@media screen and (max-width: $mobile) {
			font-size: clamp(3rem, 25vw, 5rem);
		}
	}

	&__description {
		color: $c-light-blue;
		font-family: $ff-barlow;
		line-height: 3ch;
		font-size: 1.2rem;
		max-width: 44ch;

		@media screen and (max-width: $tablet) {
			font-size: 1rem;
		}

		@media screen and (max-width: $mobile) {
			font-size: 0.9rem;
		}
	}

	&__button {
		justify-self: right;
		margin-top: 7rem;
		color: $c-black;
		background-color: $c-white;
		border-radius: 50%;
		width: 17rem;
		flex-shrink: 0;
		aspect-ratio: 1;
		display: grid;
		place-items: center;
		font-family: $ff-bellefair;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 2.2rem;
		outline: 0 solid $c-grey-transparent;
		transition: outline 250ms;

		&:hover {
			outline-width: 5rem;

			@media screen and (max-width: $mobile) {
				outline-width: 3rem;
			}
		}

		@media screen and (max-width: $tablet) {
			margin-top: 10rem;
			width: 15rem;
		}

		@media screen and (max-width: $mobile) {
			margin-top: 6rem;
			width: 10rem;
			font-size: 1.4rem;
		}
	}
}
