@use "@styles/hoverbox";
@use "@styles/variables" as *;

.destination {
	&__background {
		background-image: url("/destination/background-destination-desktop.jpg");
	}

	margin-top: 4rem;

	&__link-container {
		display: flex;
		gap: 2rem;
		height: 2rem;
		max-width: 28rem;
		margin-left: auto;
		position: relative;
		margin-bottom: 1rem;
	}

	&__link {
		font-family: $ff-barlow-condensed;
		font-size: 1.1rem;
		letter-spacing: 0.2ch;
		color: $c-light-blue;
		text-transform: uppercase;
		text-decoration: none;
		position: relative;

		&--active {
			color: $c-white;

			&::after {
				position: absolute;
				content: "";
				inset: auto 0 0;
				height: 2px;
				width: 100%;
				background-color: $c-white;
			}
		}
	}

	&__hoverbox {
		@extend %hoverbox;
		background-color: $c-grey;
	}
}

.planet {
	display: grid;
	justify-content: space-between;
	grid-template-columns: minmax(0, 32rem) minmax(0, 28rem);

	&__image {
		justify-self: right;
		align-self: end;
	}

	&__article {
		justify-self: right;
	}

	&__name {
		color: $c-white;
		text-transform: uppercase;
		font-family: $ff-bellefair;
		font-weight: 400;
		font-size: 6rem;
		line-height: 3ch;
	}

	&__description {
		color: $c-light-blue;
		font-size: 1.2rem;
		font-family: $ff-barlow;
		line-height: 3ch;
		min-height: 12rem;
	}

	&__line {
		border-color: $c-grey-transparent;
		margin-bottom: 2rem;
	}

	&__stats-container {
		display: grid;
		grid-template-columns: repeat(2, minmax(10rem, 1fr));
	}
}

.stats {
	display: flex;
	flex-direction: column;

	&__title {
		font-family: $ff-barlow-condensed;
		font-weight: 400;
		letter-spacing: 0.3ch;
		text-transform: uppercase;
		color: $c-light-blue;
		margin-bottom: 1ch;
	}

	&__details {
		font-family: $ff-bellefair;
		font-size: 1.8rem;
		text-transform: uppercase;
		color: $c-white;
	}
}
