@use "@styles/variables" as *;

.crew {
	margin-top: 3rem;

	@media screen and (max-width: $tablet) {
		margin-top: 2rem;
	}

	@media screen and (max-width: $mobile) {
		margin-top: 0;
	}

	&__link-container {
		grid-column: 1/2;
		grid-row: 2/3;
		align-self: end;
		display: flex;
		gap: 1.5rem;

		@media screen and (max-width: $tablet) {
			align-self: unset;
			gap: 1rem;
		}
	}

	&__link {
		display: block;
		width: 1rem;
		aspect-ratio: 1;
		border-radius: 50%;
		transition: background-color 250ms;
		background-color: $c-grey-transparent;

		@media screen and (max-width: $tablet) {
			width: 0.66rem;
		}

		&:not(&--active):hover {
			background-color: $c-grey;
		}

		&--active {
			background-color: $c-white;
		}
	}
}

.member {
	display: grid;
	justify-content: space-between;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	grid-template-rows: auto min-content;
	gap: 1rem;

	@media screen and (max-width: $tablet) {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	@media screen and (max-width: $mobile) {
		flex-direction: column-reverse;
		gap: 2rem;
	}

	&__image {
		grid-row: 1/3;
		justify-self: end;
		margin-bottom: -6rem;
		margin-right: -2rem;
		height: 37rem;
		object-position: left;

		@media screen and (max-width: $tablet) {
			margin-bottom: unset;
			margin-right: unset;
			object-position: initial;
			margin-top: 2rem;
			height: 32rem;
		}

		@media screen and (max-width: $mobile) {
			height: 14rem;
			position: relative;

			&:after {
				content: "";
				position: absolute;
				inset: 0 -3rem;
				border-bottom: 1px solid $c-grey-transparent;
			}
		}
	}

	&__img {
		max-width: unset;
	}

	&__article {
		display: flex;
		flex-direction: column;
		margin-top: 6rem;

		@media screen and (max-width: $tablet) {
			text-align: center;
			align-items: center;
			margin-top: 2rem;
			max-width: 58ch;
		}

		@media screen and (max-width: $mobile) {
			margin-top: 0;
		}
	}

	&__role {
		color: $c-grey;
		text-transform: uppercase;
		font-family: $ff-bellefair;
		font-weight: 400;
		font-size: 2rem;

		@media screen and (max-width: $tablet) {
			line-height: unset;
			font-size: 1.5rem;
		}

		@media screen and (max-width: $mobile) {
			font-size: 1rem;
		}
	}

	&__name {
		color: $c-white;
		text-transform: uppercase;
		font-family: $ff-bellefair;
		font-weight: 400;
		font-size: 3.5rem;
		margin-top: 1rem;
		margin-bottom: 2rem;
		margin-right: -4rem;

		@media screen and (max-width: $tablet) {
			line-height: unset;
			margin-right: unset;
			margin-top: 0.5rem;
			margin-bottom: 1rem;
			font-size: 2.5rem;
		}

		@media screen and (max-width: $mobile) {
			font-size: 1.5rem;
		}
	}

	&__bio {
		color: $c-light-blue;
		font-size: 1.1rem;
		font-family: $ff-barlow;
		line-height: 3ch;
		max-width: 42ch;
		margin-bottom: 2rem;

		@media screen and (max-width: $tablet) {
			font-size: 1rem;
			max-width: unset;
		}

		@media screen and (max-width: $mobile) {
			font-size: 0.9rem;
		}
	}
}
