@use "@styles/variables" as *;

.crew {
	&__background {
		background-image: url("/crew/background-crew-desktop.jpg");
		filter: brightness(0.66);

		@media screen and (max-width: $tablet) {
			background-image: url("/crew/background-crew-tablet.jpg");
		}

		@media screen and (max-width: $mobile) {
			background-image: url("/crew/background-crew-mobile.jpg");
		}
	}

	margin-top: 3rem;

	@media screen and (max-width: $tablet) {
		margin-top: 2rem;
	}

	@media screen and (max-width: $mobile) {
		margin-top: 0;
	}

	&__link-container {
		margin-top: auto;
		display: flex;
		gap: 1.5rem;

		@media screen and (max-width: $tablet) {
			gap: 1rem;
		}

		@media screen and (max-width: $mobile) {
			order: -1;
			margin-bottom: 2rem;
		}
	}

	&__link {
		display: block;
		width: 1rem;
		aspect-ratio: 1;
		border-radius: 50%;
		transition: background-color 250ms;
		background-color: $c-grey-transparent;

		@media screen and (max-width: $tablet) {
			width: 0.66rem;
		}

		&:not(&--active):hover {
			background-color: $c-grey;
		}

		&--active {
			background-color: $c-white;
		}
	}
}

.member {
	display: grid;
	justify-content: space-between;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 1rem;

	@media screen and (max-width: $tablet) {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	@media screen and (max-width: $mobile) {
		gap: 2rem;
	}

	&__image {
		justify-self: end;
		margin-bottom: -6rem;
		margin-right: -2rem;
		height: 38rem;
		object-position: left;

		@media screen and (max-width: $tablet) {
			margin-bottom: unset;
			margin-right: unset;
			object-position: initial;
			margin-top: 2rem;
			height: 32rem;
		}

		@media screen and (max-width: $mobile) {
			height: 14rem;
			order: -1;
			position: relative;

			&:after {
				content: "";
				position: absolute;
				inset: 0 -3rem;
				border-bottom: 1px solid $c-grey-transparent;
			}
		}
	}

	&__article {
		display: flex;
		flex-direction: column;
		margin-top: 6rem;

		@media screen and (max-width: $tablet) {
			text-align: center;
			align-items: center;
			margin-top: 2rem;
		}

		@media screen and (max-width: $mobile) {
			margin-top: 0;
		}
	}

	&__role {
		color: $c-grey;
		text-transform: uppercase;
		font-family: $ff-bellefair;
		font-weight: 400;
		font-size: 2rem;

		@media screen and (max-width: $tablet) {
			line-height: unset;
			font-size: 1.5rem;
		}

		@media screen and (max-width: $mobile) {
			font-size: 1rem;
		}
	}

	&__name {
		color: $c-white;
		text-transform: uppercase;
		font-family: $ff-bellefair;
		font-weight: 400;
		font-size: 3.5rem;
		margin-top: 1rem;
		margin-bottom: 2rem;
		margin-right: -4rem;

		@media screen and (max-width: $tablet) {
			line-height: unset;
			margin-right: unset;
			margin-top: 0.5rem;
			margin-bottom: 1rem;
			font-size: 2.5rem;
		}

		@media screen and (max-width: $mobile) {
			font-size: 1.5rem;
		}
	}

	&__bio {
		color: $c-light-blue;
		font-size: 1.1rem;
		font-family: $ff-barlow;
		line-height: 3ch;
		max-width: 42ch;
		margin-bottom: 2rem;

		@media screen and (max-width: $tablet) {
			font-size: 1rem;
			max-width: 65ch;
		}

		@media screen and (max-width: $mobile) {
			font-size: 0.9rem;
		}
	}
}
