@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.image {
	object-fit: cover;

	&__img {
		width: 100%;
		height: 100%;
		object-fit: inherit;
	}
}
