@use "@styles/variables" as *;

.technology {
	margin-top: 2rem;

	@media screen and (max-width: $tablet) {
		margin-top: 4rem;
	}

	@media screen and (max-width: $mobile) {
		margin-top: 2rem;
	}

	&__link-container {
		grid-column: 0/1;
		margin-top: 6rem;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		margin-right: 1rem;

		@media screen and (max-width: $tablet) {
			margin-right: unset;
			margin-top: 3rem;
			flex-direction: row;
			gap: 1rem;
		}

		@media screen and (max-width: $mobile) {
			margin-top: 2.5rem;
		}
	}

	&__link {
		display: block;
		width: 5rem;
		aspect-ratio: 1;
		border-radius: 50%;
		display: grid;
		place-items: center;
		font-family: $ff-bellefair;
		font-size: 2rem;
		text-decoration: none;
		background-color: transparent;
		outline: 1px solid;
		outline-color: $c-grey-transparent;
		color: $c-white;
		transition: background-color color outline-color;
		transition-duration: 250ms;

		@media screen and (max-width: $tablet) {
			width: 3.5rem;
			font-size: 1.5rem;
		}

		@media screen and (max-width: $mobile) {
			width: 2.5rem;
			font-size: 1rem;
		}

		&:not(&--active):hover {
			outline-color: $c-white;
		}

		&--active {
			background-color: $c-white;
			color: $c-black;
			outline-color: transparent;
		}
	}
}

.terminology {
	display: grid;
	justify-content: start;
	// prettier-ignore
	grid-template-columns: 1fr minmax(0,38rem) minmax(0, 22rem);

	@media screen and (max-width: $tablet) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__image {
		grid-column: 3/4;
		grid-row: 1/2;
		margin-right: -10rem;
		height: 33rem;

		@media screen and (max-width: $tablet) {
			margin: 0 -3rem;
			height: 20rem;
		}

		@media screen and (max-width: $mobile) {
			height: 10rem;
		}
	}

	&__article {
		grid-column: 2/3;
		margin-top: 6rem;
		margin-right: 1rem;

		@media screen and (max-width: $tablet) {
			margin-right: unset;
			margin-top: 3rem;
			text-align: center;

			@media screen and (max-width: $mobile) {
				margin-top: 1.5rem;
			}
		}
	}

	&__title {
		color: $c-light-blue;
		text-transform: uppercase;
		font-family: $ff-barlow-condensed;
		font-weight: 400;
		font-size: 1rem;
		letter-spacing: 0.25ch;

		@media screen and (max-width: $mobile) {
			font-size: 0.9rem;
		}
	}

	&__name {
		color: $c-white;
		text-transform: uppercase;
		font-family: $ff-bellefair;
		font-weight: 400;
		font-size: 3.5rem;
		margin-top: 0.5rem;
		margin-bottom: 1rem;
		margin-right: -4rem;

		@media screen and (max-width: $tablet) {
			margin-right: unset;
			margin-top: 1rem;
			font-size: 2.5rem;
		}

		@media screen and (max-width: $mobile) {
			font-size: 1.6rem;
			margin-top: 0.5rem;
		}
	}

	&__description {
		color: $c-light-blue;
		font-size: 1.1rem;
		font-family: $ff-barlow;
		line-height: 3ch;
		max-width: 44ch;

		@media screen and (max-width: $tablet) {
			max-width: 48ch;
			font-size: 1rem;
		}

		@media screen and (max-width: $mobile) {
			font-size: 0.9rem;
		}
	}
}
