@use "@styles/variables" as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body,
#root {
	height: 100%;
}

body {
	background-color: $c-black;
}

.app {
	min-height: 100%;
	padding-top: 3rem;
	position: relative;
	overflow-x: hidden;

	@media screen and (max-width: $mobile) {
		padding-top: 2rem;
	}

	&__background {
		position: absolute;
		inset: 0;
		z-index: -1;
		background-size: cover;
		background-repeat: no-repeat;

		&[data-background="home"] {
			background-image: url("/home/background-home-desktop.jpg");

			@media screen and (max-width: $tablet) {
				background-image: url("/home/background-home-tablet.jpg");
			}

			@media screen and (max-width: $mobile) {
				background-image: url("/home/background-home-mobile.jpg");
			}
		}
		&[data-background="destination"] {
			background-image: url("/destination/background-destination-desktop.jpg");

			@media screen and (max-width: $tablet) {
				background-image: url("/destination/background-destination-tablet.jpg");
			}

			@media screen and (max-width: $mobile) {
				background-image: url("/destination/background-destination-mobile.jpg");
			}
		}
		&[data-background="crew"] {
			background-image: url("/crew/background-crew-desktop.jpg");

			@media screen and (max-width: $tablet) {
				background-image: url("/crew/background-crew-tablet.jpg");
			}

			@media screen and (max-width: $mobile) {
				background-image: url("/crew/background-crew-mobile.jpg");
			}
		}
		&[data-background="technology"] {
			background-image: url("/technology/background-technology-desktop.jpg");

			@media screen and (max-width: $tablet) {
				background-image: url("/technology/background-technology-tablet.jpg");
			}

			@media screen and (max-width: $mobile) {
				background-image: url("/technology/background-technology-mobile.jpg");
			}
		}
	}
}

.main {
	@include max-width();
	margin-bottom: 4rem;

	display: grid;
	grid-template-rows: 7rem auto;
	grid-template-areas:
		"title"
		"content";

	@media screen and (max-width: calc($max-width + 8rem)) {
		margin-left: 4rem;
		margin-right: 4rem;
	}

	@media screen and (max-width: $tablet) {
		grid-template-rows: 4rem auto;
		margin: 0 2rem;
		margin-bottom: 2rem;
	}

	@media screen and (max-width: $mobile) {
		grid-template-rows: 3rem auto;
	}

	&__title {
		grid-area: title;
		align-self: end;
	}

	&__content {
		grid-area: content;
	}
}

.title {
	font-family: $ff-barlow-condensed;
	font-size: 1.8rem;
	text-transform: uppercase;
	letter-spacing: 0.4ch;

	@media screen and (max-width: $tablet) {
		font-size: 1.2rem;
	}

	@media screen and (max-width: $mobile) {
		text-align: center;
		font-size: 1rem;
	}

	&__number {
		color: $c-grey;
		margin-right: 2ch;
		font-weight: 700;
	}

	&__text {
		color: $c-white;
		font-weight: 400;
	}
}
