@use "@styles/variables" as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main {
	@include max-width();
	margin-bottom: 4rem;

	display: grid;
	grid-template-rows: 7rem auto;
	grid-template-areas:
		"title"
		"content";

	@media screen and (max-width: calc($max-width + 8rem)) {
		margin: 0 4rem;
	}

	@media screen and (max-width: $tablet) {
		grid-template-rows: 4rem auto;
		margin: 0 2rem;
		margin-bottom: 2rem;
	}

	@media screen and (max-width: $mobile) {
		grid-template-rows: 3rem auto;
	}

	&__title {
		grid-area: title;
		align-self: end;
	}

	&__content {
		grid-area: content;
	}
}

.title {
	font-family: $ff-barlow-condensed;
	font-size: 1.8rem;
	text-transform: uppercase;
	letter-spacing: 0.4ch;

	@media screen and (max-width: $tablet) {
		font-size: 1.2rem;
	}

	@media screen and (max-width: $mobile) {
		text-align: center;
		font-size: 1rem;
	}

	&__number {
		color: $c-grey;
		margin-right: 2ch;
		font-weight: 700;
	}

	&__text {
		color: $c-white;
		font-weight: 400;
	}
}
