@use "@styles/variables" as *;

.nav {
	@include max-width(100rem);
	display: flex;
	align-items: center;
	padding-left: 4rem;
	padding-top: 3rem;

	&__logo {
		height: 3rem;
		aspect-ratio: 1;
		color: $c-white;
	}

	&__line {
		height: 1px;
		background-color: $c-grey-transparent;
		flex-grow: 1;
		margin-left: 4rem;
		margin-right: -2rem;
		z-index: 1;
	}

	&__link-container {
		display: flex;
		align-items: center;
		gap: 6ch;
		padding-left: 8rem;
		padding-right: 10rem;
		backdrop-filter: blur(1rem);
		position: relative;

		&::before {
			content: "";
			position: absolute;
			inset: 0;
			background-color: $c-white;
			opacity: 0.05;
		}
	}
}

.link {
	font-family: $ff-barlow-condensed;
	text-decoration: none;
	min-height: 6rem;
	display: flex;
	align-items: center;
	color: $c-white;
	position: relative;
	z-index: 1;
	cursor: pointer;

	&__number {
		font-weight: bolder;
		margin-right: 1ch;
		letter-spacing: 0.3ch;
	}

	&__text {
		text-transform: uppercase;
		letter-spacing: 0.3ch;
	}

	&--active {
		&::after {
			position: absolute;
			content: "";
			inset: auto 0 0;
			height: 2px;
			width: 100%;
			background-color: $c-white;
		}
	}
}

.hover-box {
	position: absolute;
	bottom: 0;
	height: 2px;
	left: calc(var(--left, 0) + calc(var(--last-width, 0px) / 2));
	width: var(--width, 0);
	translate: -50%;
	background-color: $c-grey;
	transition: left, width, translate, opacity;
	transition-duration: 250ms;
}
